<launch>
  <!-- Nodo odometry da /speedsteer -->
  <node pkg="first_project"
        type="odometer"
        name="odometer"
        output="screen"/>

  <!-- Nodo odometry da GPS -->
  <node pkg="first_project"
        type="gps_odometer"
        name="gps_odometer"
        output="screen"/>

  <!-- Nodo calcolo tempi di settore -->
  <node pkg="first_project"
        type="sector_times"
        name="sector_times"
        output="screen"/>

  <!-- RViz con configurazione personalizzata -->
  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find first_project)/rviz/first_project.rviz"
        output="screen"/>
</launch>
